<home-header></home-header>

<div class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4"><span app-name-long></span></h1>
    <p class="lead">If you are looking for celebrity holograms to purchase, you have come to the right place. Get all your celebrity hologram needs served here, at the best prices you will ever find.</p>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">High Quality Celebrity Holograms</h4>
          </div>
          <div class="card-body">
            <p>What are you waiting for? A wide array of celebrity holograms awaits you. Go to the store and check it out now!</p>
            <a href="#!/dashboard" class="btn btn-lg btn-block btn-outline-primary">Browse Store</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <home-footer></home-footer>
</div>
